.article-page {
    max-width: 900px;
    margin: 0 auto;
    padding: 50px;
    margin-bottom: 10rem;
}

.article-container img {
    width: 100%
}

.article-body {
    text-align: justify;
    font-size: 1rem;
}

.loading-container img {
    width: 300px;
    height: auto;
}