.article-list ul {
    list-style-type: none;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
  }

  .loading-container img {
    width: 300px;
    height: auto;
}

.popup {
  position: fixed;
  top: 50%;
  right: 50%;
  padding: 1rem;
  background-color: #ececec;
  color: rgb(60, 60, 60);
  border-radius: 5px;
  z-index: 1000;
}