.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.topic-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.topic-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 3rem;
  margin-bottom: 2rem;
}

.topic-list button {
  font-family: var(--font-family);
  color: #57423f;
  border: 1px solid transparent;
  border-radius: 12px;
  cursor: pointer;
  transition: border-color 0.25s;
  align-self: center;
}

.topic-list button:hover {
  background-color: #57423f21;
  border-radius: 12px;
}

.sorting-articles-container {
  position: relative;
  max-width: 1500px;
}

.latest-news {
  position: absolute;
  align-items: left;
  margin-left: 6.5rem;
  color: #57423f;
}

.sorting-container .sorting-buttons {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  justify-content: flex-end;
  margin-right: 6.5rem;
}
