header {
  display: flex;
  align-items: center;
  padding: 0rem 0.8rem;
  color: black;
  font-size: 17px;
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  background: linear-gradient(to right, #ffe484, #ffb743);
  z-index: 1000;
}

.navbar-container {
  display: flex;
  gap: 2rem;
  margin-left: auto;
  align-items: center;
  padding-left: 2rem;
}

.navbar-container a {
  text-decoration: none;
}

header a {
  font-weight: 600;
  color: #57423f;
  text-decoration: none;
}

.navbar-container a img {
  padding: 0;
  background-color: transparent;
}

.avatar-container {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: transparent;
}

.avatar-container img {
  width: 60px;
  height: 60px;
  object-fit: scale-down;
  border-radius: 100%;
}

.logo-components {
  display: flex;
  align-items: center;
}

.logo img {
  width: 170px;
  height: auto;
  margin: 0;
  padding: 0;
}

.logo img:hover {
  cursor: pointer;
}

.logo p {
  margin-bottom: 0;
  color: #ff820e;
  font-weight: 600;
  font-size: 50px;
}

.avatar-container {
  position: relative;
  display: inline-block;
}

.avatar-container button {
  background-color: white;
  border-radius: 100%;
  margin: 0;
  padding: 0;
}

.avatar-container button:hover {
  background-color: white;
}
