.article-card {
    border: rgb(184, 184, 184) 2px solid;
    border-radius: 15px;
    padding: 0.5rem;
    position: relative;
    margin: 2rem;
    max-width: 600px;
    width: 100%;
}

.side-info {
    position: absolute;
    bottom: -0.5rem;
    right: 10px;
    margin-top: 2rem;
    display: flex;
    text-align: right;
    gap: 1rem;
    font-size: 0.7rem;
}

.article-card .article-main-image {
    width: 100%
}

.article-card a {
    display:block;
    margin-bottom: 1rem;
}

.upvote-button {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-top: 0.5rem;
}

.downvote-button {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-top: 0.5rem;
}